/* ----------------------------------------------------------------------------------------
*  START FOOTER STYLE
* ----------------------------------------------------------------------------------------
*/


/*top footer*/

.footer-section {
  position: relative;
  float: left;
  width: 100%;
}

#top-footer {
  padding: 65px 0 0 0;
}

.footer-widget-title .logo img {
  width: 200px;
}

.footer-widget-title .logo {
  margin-bottom: 13px;
}

.footer-widget-title h4 {
  text-transform: uppercase;
  letter-spacing: 1px;
  position: relative;
  margin-bottom: 40px;
}

.footer-widget-title h4:after {
  position: absolute;
  content: "";
  background-color: var(--primary-green);
  height: 2px;
  width: 25px;
  left: 0;
  top: auto;
  bottom: -7px;
  border-radius: 5px;
}

.footer-widget-inner ul li {
  line-height: 35px;
  list-style: none;
}

.footer-widget-inner ul li a {
  color: #333;
}

.footer-widget-inner ul li a:hover {
  color: var(--primary-green);
}

.footer-widget-inner ul li a:hover i {
  padding-right: 0;
}

.footer-widget-inner ul li a i {
  color: var(--primary-green);
  padding-right: 6px;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.social-fb {
  background-color: #3B5998;
}

.social-tw {
  background-color: #4099FF;
}

.social-gp {
  background-color: #d34836;
}

.social-em {
  background-color: #333;
}

.footer-social ul li {
  float: left;
}

.footer-social ul li a {
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50px;
  text-align: center;
  display: inline-block;
  margin: 0 10px 0 0;
}

.footer-social ul li a i {
  color: #333;
}

.singleRecpost {
  border-bottom: 1px solid #ddd;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-left: 112px;
  position: relative;
}

.singleRecpost:last-child {
  border: none;
  padding-bottom: 0;
}

.singleRecpost img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100px;
  -webkit-transition: all 0.4s ease 0s;
  -moz-transition: all 0.4s ease 0s;
  -o-transition: all 0.4s ease 0s;
  transition: all 0.4s ease 0s;
}

.singleRecpost:hover img {
  filter: grayscale(1) opacity(0.9);
  -webkit-filter: grayscale(1) opacity(0.9);
}

.singleRecpost p {
  margin-top: 5px;
  font-size: 14px;
}

.recTitle {
  line-height: 20px;
  margin: 0;
  font-size: 15px;
}

.recTitle a {
  color: #333;
}

.recTitle a:hover {
  color: var(--primary-green);
}

.footer-contact-sin {
  float: left;
  width: 100%;
  border-bottom: 1px solid #ddd;
  margin-bottom: 8px;
  padding-bottom: 8px;
}

.footer-contact-sin i{
  color: var(--primary-green);
}

.footer-contact-sin-left,
.footer-contact-sin-right {
  float: left;
}

.footer-contact-sin-left {
  margin-right: 12px;
}

.footer-contact-sin-right {
  width: 77%;
}

.footer-contact-sin-right p {
  margin-top: 8px;
}

.footer-contact-sin-left i {
  color: var(--primary-green);
  font-size: 18px;
  text-align: center;
  border-radius: 30px;
  height: 40px;
  width: 40px;
  line-height: 35px;
  display: block;
  border: 4px double #ddd;
}

.footer-contact-sin:last-child {
  border: none;
}


/*bootom footer*/

#bottom-footer {
  float: left;
  width: 100%;
}

.footer-menu {
  float: right;
}

.footer-menu ul li {
  display: inline-block;
  padding: 0 10px 0 0;
}

.footer-menu ul li:last-child {
  padding-right: 0;
}

.footer-menu ul li a {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  position: relative;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
}

.footer-menu ul li a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: var(--primary-green);
  height: 2px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.footer-menu ul li a:hover:before,
.footer-menu ul li a:focus:before,
.footer-menu ul li a:active:before {
  right: 0;
}

.footer-menu ul li a:hover {
  color: var(--primary-green);
}

.copyright-text,
.footer-menu ul li a {
  margin: 30px 0;
  color: #333;
}

.copyright-text a {
  color: var(--primary-green);
}


/*
* ----------------------------------------------------------------------------------------
* END FOOTER STYLE
* ----------------------------------------------------------------------------------------
*/

.icofont-circled-right:before {
    content: "\ea6d";
}