
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Bold&display=swap');

.school-name {
  font-family: 'Montserrat', serif;
  font-size: 0.8rem;
  line-height: 1;
}

.school-title {
  font-family: 'Cormorant Bold', serif;
  font-weight: 900;
  font-size: 1.8rem;
  color: #368040;
  line-height: 1;
  letter-spacing: 3.8px;
}

.navbar-gradient {
  background: linear-gradient(to bottom, #f1f4f5, #c2c7cd); /* світло-сірий градієнт */
}
.nav-link {
  color: #343a40 !important; /* темно-сірий текст */
  font-weight: 500;
}
.nav-link:hover, .nav-link:focus {
  color: #fff !important; /* синій при наведенні */
}

.nav-item.dropdown .nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.nav-item.dropdown .dropdown-toggle::after {
  display: none;
}

.nav-item.dropdown .nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  position: relative;
}

.dropdown-arrow {
  transition: transform 0.3s ease;
}

.show > .dropdown-arrow {
  transform: rotate(180deg);
}

.dropdown-menu {
  background: linear-gradient(180deg, #c2c7cd, #f1f4f5); /* світло-сірий градієнт */
  border: 1px solid #dee2e6;
  border-radius: 0 0 0.3rem 0.3rem;
  display: block;
  padding: 0.5rem 0;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  opacity: 0;
  left:0;
  top:100%;
  visibility: hidden;
  transition: all 0.3s ease;
  transform: translateY(-10px);
  min-width: 100%;
  width: max-content;
  z-index: 1000;
}

.dropdown-menu.show {
  opacity: 1;
  visibility: visible;
  display: block;
  transform: translateY(0);
  transition: all 0.45s ease;
  width: max-content;
  z-index: 1050;
}

.dropdown-item:hover,
.dropdown-item:hover{
  color: #fff !important;
}

.navbar-nav > .nav-item {
  position: relative;
  flex: 1;
}

.navbar-nav > .nav-item:not(:last-child) {
  border-right: 1px solid #f1f4f5;
}

@media only screen and (max-width: 991.98px) {
  .navbar-nav > .nav-item:first-child {
    border-top: 1px solid #c1c1c1;
  }

  .navbar-nav > .nav-item:not(:last-child) {
    border-right: 0px solid #f1f4f5;
    border-bottom: 1px solid #c1c1c1;
  }
}

.carousel-item .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* синій з прозорістю */
    z-index: 1;
  }
  
  .carousel-caption {
    z-index: 2; /* щоб бути поверх overlay */
  }

  .carousel-control-fix {
    z-index: 2;
  }

  .carousel-item img {
    height: 500px; /* 60% висоти вікна браузера */
    object-fit: cover;
  }

  @media (min-width: 768px) {
    .navbar-nav li.nav-item.dropdown:hover .dropdown-menu {
      display: block;
     
      visibility: visible;
      width: max-content;
      transform: translateY(0);
      transition: all 0.45s ease;
    }

    .navbar-nav li.nav-item.dropdown:hover .dropdown-arrow {
      transform: rotate(180deg);
    }

    .navbar-nav .dropdown .dropdown-menu {
      margin-top: 0px;
    }
  }

  @media (max-width: 991.98px) {
    .navbar-nav li.nav-item.dropdown .dropdown-menu {
      display: none;
      top:0;
    }
    .navbar-nav li.nav-item.dropdown .dropdown-menu.show {
      background-color:rgba(var(--bs-emphasis-color-rgb), 0.8);
      border: 0;
      border-radius: 0;
      background-image: none;
      display: block;
      width: 100%;
      margin: 0;
      position: relative;
    }

    .navbar-nav li.nav-item.dropdown .dropdown-menu.show a {
      color: #c1c1c1;
    }
  }

  /* main menu style */
.mainmenu-area {
    background: linear-gradient(to bottom, #f1f4f5, #c2c7cd);
}

.mainmenu-area .navbar-nav .nav-link {
  color: #fff;
  height: 100%;
  text-transform: uppercase;
  font-weight: 700;
  padding: 21px 20px;
  position: relative;
  width: 100%;
}

.mainmenu-area .navbar {
  padding: 0;
}

.mainmenu-area .navbar-nav .active.nav-link {
  position: relative;
}

.mainmenu-area .navbar-nav li.active {
  position: relative;
}

.mainmenu-area .navbar-nav li.active:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #333;
}

.mainmenu-area ul.navbar-nav li a {
  display: inline-block;
  vertical-align: middle;
  box-shadow: 0 0 1px transparent;
  position: relative;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.mainmenu-area ul.navbar-nav li a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: var(--primary-green);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 100%;
  transform-origin: 50% 100%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.mainmenu-area ul.navbar-nav li a:hover:before,
.mainmenu-area ul.navbar-nav li a:focus:before,
.mainmenu-area ul.navbar-nav li a:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}

.mainmenu-area .navbar-nav .dropdown .nav-link:after {
  content: "\eac8";
  font-family: IcoFont;
  font-weight: 900;
  position: absolute;
  top: auto;
  right: 4px;
  font-size: 14px;
  padding-left: 10px;
  -webkit-transition: all 500ms ease-out;
  -moz-transition: all 500ms ease-out;
  -o-transition: all 500ms ease-out;
  transition: all 500ms ease-out;
}

.mainmenu-area .navbar-nav .dropdown .nav-link:hover:after {
  -webkit-transform: rotate(360deg);
  -moz-transform: rotate(360deg);
  -o-transform: rotate(360deg);
  transform: rotate(360deg);
}


/* dropdown menu */

.main-header .mainmenu-area .navbar .dropdown .dropdown-menu {
  display: block;
  min-width: 235px;
  opacity: 0;
  visibility: hidden;
  padding: 0;
  top: 62px;
  border-radius: 0;
  background-color: transparent;
  border: none;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.main-header .mainmenu-area .navbar .dropdown .dropdown-menu li>a {
  display: block;
  color: #fff;
  padding: 11px 0 11px 20px;
  text-transform: capitalize;
  /*vertical-align: middle;*/
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  background: #0E70C7;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.main-header .mainmenu-area .navbar .dropdown .dropdown-menu li>a:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #333;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.main-header .mainmenu-area .navbar .dropdown .dropdown-menu li>a:hover:before,
.main-header .mainmenu-area .navbar .dropdown .dropdown-menu li>a:focus:before,
.main-header .mainmenu-area .navbar .dropdown .dropdown-menu li>a:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.main-header .mainmenu-area .navbar .dropdown .dropdown-menu li>a:after {
  font-weight: 900;
  font-size: 14px;
  padding: 3px 0 0 0;
  position: absolute;
  content: "\eaca";
  font-family: IcoFont;
  top: auto;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 500ms ease;
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -ms-transition: all 500ms ease;
  -o-transition: all 500ms ease;
}

.main-header .mainmenu-area .navbar .dropdown .dropdown-menu li>a:hover:after {
  opacity: 1;
  visibility: visible;
  padding-left: 7px;
}

.main-header .mainmenu-area .navbar .dropdown .dropdown-menu li:not(:last-child)>a {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.main-header .mainmenu-area .navbar .dropdown:hover>.dropdown-menu {
  opacity: 1;
  top: 62px;
  visibility: visible;
}

.main-header .mainmenu-area .navbar .dropdown-menu .dropdown>.dropdown-menu {
  left: 300%;
  margin-top: -1px;
  min-width: 170px;
  opacity: 0;
  padding: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  display: block;
}

.main-header .mainmenu-area .navbar .dropdown-menu .dropdown:hover>.dropdown-menu {
  visibility: visible;
  opacity: 1;
  left: 100.5%;
}


/*menu animation style*/

.mainmenu-area {
  width: 100%;
  position: relative;
  transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  z-index: 999;
}

.mainmenu-area.menu-animation {
  -ms-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -op-animation-name: fadeInDown;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -ms-animation-duration: 800ms;
  -moz-animation-duration: 800ms;
  -op-animation-duration: 800ms;
  -webkit-animation-duration: 800ms;
  animation-duration: 800ms;
}


/* mobile menu css */

.mean-container .mean-bar {
  background: #0E70C7;
}

.mainmenu-area.mean-container .mean-nav ul.navbar-nav li a {
  border-bottom: none;
}

.mainmenu-area.mean-container .mean-nav ul.navbar-nav li a:after {
  content: none;
}

.mainmenu-area.mean-container ul.navbar-nav li a:before {
  background: transparent;
}

.sticky-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}


/*
* ----------------------------------------------------------------------------------------
* 02. END HEADER STYLE
* ----------------------------------------------------------------------------------------
*/
 