.news-carousel-section {
  margin: 0;
  padding: 0 20px; 
}

.news-slide {
  position: relative;
  height: 450px;
  overflow: visible;
  padding: 30px 10px; 
  box-sizing: border-box;
  transition: transform 0.6s ease, filter 0.3s ease; 
  will-change: transform;
}

.news-slide:hover {
   transform: scale(1.13);
}

.news-slide-bg {
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 10px; 
  overflow: hidden;
  position: relative;
}

.news-slide-overlay {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 20px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.7), transparent);
  color: white;
  text-align: left;
  transition: transform 0.4s ease;
  transform: translateY(0);
}

.news-slide-bg:hover .news-slide-overlay {
  transform: translateY(-5px);
}

.news-date {
  font-size: 14px;
  margin-bottom: 8px;
  opacity: 0.9;
  text-align: left;
}

.news-title-home {
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  text-align: left;
}

.slick-slide {
  padding: 0 0px; /* Простір між слайдами */
  box-sizing: border-box;
}

.slick-list {
  margin: 0 -10px; /* Щоб крайні слайди теж мали відступи */
}

.slick-dots {
    bottom: 20px !important;
}
.slick-dots li button:before {
  color: white;
}

.slick-prev,
.slick-next {
  z-index: 2;
}

.news-slide-bg {
  position: relative;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  overflow: hidden;
  
}

.news-slide-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  transition: background 0.3s ease;
}

.news-slide-bg:hover::after {
  background: rgba(0, 0, 0, 0.35);
}

.slick-prev, .slick-next {
  background-color: rgba(0, 0, 0, 0.5); /* Темно-сірий фон */
  color: white;                          /* Колір іконки стрілки */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  z-index: 1;
}

.slick-prev:hover, .slick-next:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Трохи темніше при наведенні */
}

.slick-prev:before, .slick-next:before {
  color: white; /* Колір стандартної іконки стрілки від Slick */
  font-size: 20px;
}

.slick-dots li button:before {
  font-size: 12px;
  color: #fff !important; 
  opacity: 1;                
}


.slick-dots li.slick-active button:before {
  color: #ffc107 !important; /* Активна крапка ще темніша */
  font-size: 22px;
}

.view-more-wrapper {
  text-align: center;
  margin-top: 20px;
}

.view-more-button {
  color: #fff;
  background-color: var(--primary-green);
  margin: 40px 0;
  padding: 8px 27px;
  border-radius: 30px;
  border: 2px solid var(--primary-green);
  position: relative;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.view-more-button:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: 30px;
  background-color: #fff;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.view-more-button:hover, .view-more-button:focus, .view-more-button:active {
  color: #333;
  border: 2px solid var(--primary-green);
  background-color: #fff;
}