.news-form-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.news-form-container h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 22px;
    color: #333;
}

.news-form-container form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.news-form-container input,
.news-form-container textarea,
.news-form-container button {
    padding: 10px;
    border-radius: 6px;
    font-size: 16px;
}

.news-form-container input,
.news-form-container textarea {
    border: 1px solid #ddd;
}

.news-form-container textarea {
    min-height: 100px;
    resize: vertical;
}

.news-form-container button {
    cursor: pointer;
    transition: background 0.3s;
}


/*new styles*/
.news-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .news-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  .news-link {
    text-decoration: none;
    color: inherit;
    display: block;
    transition: transform 0.3s ease;
  }
  
  .news-link:hover {
    transform: scale(1.05);
  }
  
  .news-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .news-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
  }
  
  .news-header {
    display: flex;
    justify-content: space-between; /* Розташовує елементи по краях */
    align-items: center; /* Вирівнює по вертикалі */
    margin-bottom: 16px; /* Відступ знизу */
}

.activePage{
  color: var(--primary-green);
}